/* style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

#chart-container {
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

svg {
  display: block;
  margin: 40px; /* Increase the margin around the SVG */
}

rect {
  fill: #4CAF50;
  transition: fill 0.3s ease;
}

rect:hover {
  fill: #45a049;
}

.axis text {
  font-size: 10px; /* Adjust the font size */
  fill: #333; /* Set the text color */
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
